<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>TP2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormateurServlet</display-name>
    <servlet-name>FormateurServlet</servlet-name>
    <servlet-class>com.tp2.web.FormateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormateurServlet</servlet-name>
    <url-pattern>/FormateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Formation</display-name>
    <servlet-name>Formation</servlet-name>
    <servlet-class>com.tp2.web.Formation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formation</servlet-name>
    <url-pattern>/Formation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormationServlet</display-name>
    <servlet-name>FormationServlet</servlet-name>
    <servlet-class>com.tp2.web.FormationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormationServlet</servlet-name>
    <url-pattern>/FormationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LieuServlet</display-name>
    <servlet-name>LieuServlet</servlet-name>
    <servlet-class>com.tp2.web.LieuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LieuServlet</servlet-name>
    <url-pattern>/LieuServlet</url-pattern>
  </servlet-mapping>
</web-app>